BasedOnStyle: Google
IndentWidth: 4
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
AllowShortFunctionsOnASingleLine: All
MaxEmptyLinesToKeep: 3