.vscode/settings.json
*.json
*.exe
Assignment 2 (Rasterization)/stage1.txt
Assignment 2 (Rasterization)/stage2.txt
Assignment 2 (Rasterization)/stage3.txt
Assignment 2 (Rasterization)/main
Assignment 2 (Rasterization)/temp/
Assignment 2 (Rasterization)/out.bmp
Assignment 2 (Rasterization)/z_buffer.txt
Assignment 2 (Rasterization)/test.cpp
*.o
Assignment 3 (Ray Tracing)/demo
Assignment 3 (Ray Tracing)/test.txt
Assignment 3 (Ray Tracing)/*.bmp
!Assignment 3 (Ray Tracing)/Sample_Output.bmp
